<div *ngIf="user">
  <div class="card">
    <h1>
    {{user.name}} ({{user.login}})
   </h1>
  </div>
  <div class="row">
    <div class="col-md-3">
        <img src="{{user.avatar_url}}" alt="">
    </div>
    <div class="col-sm-5">
        <ul class="list-group">
          <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
          <li class="list-group-item" *ngIf="user.company">Works at {{user.company}}</li>
          <li class="list-group-item" *ngIf="user.email"><a href="{{user.email}}" target="_blank"></a></li>
          <li class="list-group-item" >Repositories: {{user.public_repos}}</li>
          <li class="list-group-item">Followers: {{user.followers}}</li>
          <li class="list-group-item" >Following: {{user.following}}</li>
        </ul>
      </div>
  </div>
</div>