<!-- <nav>
    <ul>
        <li>
            <a routerLink="">
                <img src="assets/icons8-female-profile-48.png">
            </a>
        </li>
        <li>
            <a href="{{repo.html_url}}">
                <img src="assets/icons8-folder-48.png">
            </a>
        </li>
    </ul>
</nav> -->
<h1 id="intro">Welcome to Git Mini</h1>
<img id="logo" src="assets/icons8-github-96.png">
<p id="statement">Search a github user by their Github name and find out more about them and their work.</p>
<form id="searchForm" #userForm='ngForm'>
        <input type="text" id="searchBar" class="form-control" placeholder="search user"  [(ngModel)]="username" name="username" >
        <button (keyup)="findProfile()">Search</button>
</form>
<h1></h1>
<div *ngIf='user'>
  <div id="login"class="card">
      <h1>{{user.name}} <small>({{user.login}})</small></h1>
      <span *ngIf='user.company'>Works at {{user.company}}</span>
      <span>Created {{user.created_at|dateCount}} day(s) ago.</span>
  </div>
  <!-- <div class="container"> -->
      <div class="row">
          <div class="col-md-4">
              <img src="{{user.avatar_url}}" id="rounded" alt="">
          </div>
          <div class="col-md-4">
              <div class="card" id="list" >
              <ul class="list-group">
                  <li class="list-group" *ngIf='user.bio'>{{user.bio}}</li>
                  <li class="list-group" *ngIf='user.public_repos'>Repositories: {{user.public_repos}}</li>
                  <li class="list-group" *ngIf='user.email'><a href="{{user.email}}" target="_blank">{{user.email}}</a></li>
                  <li class="list-group" >Followers: {{user.followers}}</li>
                  <li class="list-group" >Following: {{user.following}}</li>
              </ul>
              <button id="vgithub"class="clear-fix"><a href="{{user.html_url}}" target="_blank">View Profile on Github</a></button><br>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card" id="repository">
          <button>Repositories</button> <br>
          <div *ngFor='let repo of repos'>
                <ul>
                  <li><b>Name:</b> {{repo.name}} </li>
                  <li><b>Description:</b> {{repo.description}}</li>
                  <button id="vrepo"><a href="{{repo.html_url}}" target="_blank">View on github</a></button>
                </ul>
              </div>
             </div>
            </div>
        </div>
     <!-- </div> -->
<div>