#searchForm{
    padding: 50px;
}
li{
    list-style-type: none;
}
body{
    font-family: "ZCOOL XiaoWei";
    font-size:20pt;
    background-image: url("assets/abstract-art-creative-225011.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-weight: bold;
}
#intro{
    padding-top: 30px;
    color: aliceblue;
    font-weight: bolder;
}
#logo{
    margin-left:50%;
    height: 60px;
}
#rounded{
    border-radius: 100%;
}
#list{
height: 200px;
opacity:0.8;
padding: 20px;
margin: 10px;
}
#repository{
    opacity: 0.8;
   
}
#vrepo{
    float: right;
    background-color:#06fcd3;
    border-radius: 10%;
    width: 180px;
    color: white;
}
#vgithub{
    background-color:#06fcd3;
    border-radius: 10%;
    width:200px;
    
}
#statement{
    color:white;
    text-align: center;
    font-weight: bolder;    
    margin-top: 10px;
}
#navbar {
    display:grid;
    grid-template-columns: 70px auto;
    height:100%;
    padding: 30px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    margin-left:0px;
    /* background-color:white; */
}
nav{
    background:#2D2E2E;
    height:100%;
}
/* #avatar{
    float:left;
}


#title{
    padding:0px; 
    margin:30px;
    font-weight: bold;
}
#magnify{
    height: 30px;
}
.searcharea{
    margin: 20px;
    text-align: center;
    font-size: 20px;
    opacity: 0.8
}
#search{
    border:1px solid #009688;
    height: 40px;
    border-radius: 5%;
    padding: 10px;
}
#username{
    text-decoration: underline;
}

    

}
#content {
    padding: 50px 50px;
  
}
ul {
    list-style-type: none;
    margin:0;padding:0;
}    
#giticon{
    text-align: center;
}  */

